.button {
	min-width: 100%;
	padding: 10px var(--spacing-xl);
	font-size: var(--fs-text-16);
	line-height: var(--lh-text-16);
	font-weight: var(--font-medium);
	color: var(--ozWhite);
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	border: none;
	opacity: 1;
	box-sizing: border-box;
	background: linear-gradient(130.82deg, #AF1780 63.25%, #FFA262 101.85%), linear-gradient(131.09deg, #FF004B -17.4%, #4886FF 101.7%, #0088D6 101.71%);
	cursor: pointer;
	transition: opacity .5s 0s ease;

	@media (min-width: 701px) {
		min-width: 280px;
		padding: 18px 42px;
	}

	@media (min-width: 1101px) {
		min-width: 456px;
		padding: 26px 60px;
		font-size: 24px;
		line-height: 28px;
		border-radius: var(--spacing-l);
	}
}

.button:hover {
	color: var(--ozWhite);
	opacity: .75;
}
