<script>
  import classnames from 'classnames';
  import style from './index.pcss';

  export let text;
  export let href;
  export let wrapperClass = '';
</script>

<a href="{href}" target="_blank" class="{classnames(style.button, wrapperClass)}">
  {text}
</a>

