:root {--cold: #364A5E;}
:root {--ozonLogo: url("data:image/svg+xml,%3Csvg viewBox='0 0 129 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0275 0C6.30351 0 0 6.29114 0 14C0 21.7089 6.30351 28 14.0275 28C21.8403 28 28.0551 21.7089 28.0551 14C28.0551 6.29114 21.8403 0 14.0275 0ZM14.0275 21.5316C9.85478 21.5316 6.48107 18.1646 6.48107 14C6.48107 9.83544 9.85478 6.46835 14.0275 6.46835C18.2003 6.46835 21.574 9.83544 21.574 14C21.574 18.1646 18.2003 21.5316 14.0275 21.5316ZM78.7495 0C67.8293 0 59.0399 6.29114 59.0399 14C59.0399 21.7089 67.8293 28 78.7495 28C89.6696 28 98.459 21.7089 98.459 14C98.459 6.29114 89.5809 0 78.7495 0ZM78.7495 21.5316C71.203 21.5316 65.6098 17.5443 65.6098 14.0886C65.6098 10.6329 71.203 6.64557 78.7495 6.64557C86.2959 6.64557 91.8892 10.6329 91.8892 14.0886C91.8892 17.5443 86.2072 21.5316 78.7495 21.5316ZM125.715 0.620253C123.939 0.620253 122.43 2.12658 122.43 3.89873V14.8861L104.674 0.797468C104.052 0.265823 103.164 0.708861 103.164 1.50633V24.1013C103.164 25.8734 104.674 27.3797 106.449 27.3797C108.225 27.3797 109.734 25.8734 109.734 24.1013V13.2025L127.491 27.2911C128.112 27.8228 129 27.3797 129 26.5823V3.89873C129 2.12658 127.491 0.620253 125.715 0.620253ZM53.8906 20.9114H42.7041L56.9092 2.12658C57.3531 1.50633 56.9092 0.620253 56.1989 0.620253H35.6015C33.8259 0.620253 32.3166 2.12658 32.3166 3.89873C32.3166 5.67089 33.8259 7.17722 35.6015 7.17722H44.9236L30.6297 25.962C30.1858 26.5823 30.6297 27.4684 31.4288 27.4684H53.8906C55.6662 27.4684 57.1755 25.962 57.1755 24.1899C57.1755 22.4177 55.6662 20.9114 53.8906 20.9114Z' fill='white'/%3E%3C/svg%3E")}

.advantages {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	padding: 21px 0 40px 0;

	.heading {
		font-size: 32px;
		line-height: 36px;
		font-weight: 900;
		color: var(--ozWhite);
	}

	.list {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, minmax(132px, auto));
		grid-gap: var(--spacing-m2);
		margin: var(--spacing-xl) 0 0 0;
	}

	.item:nth-child(4) {
		grid-row-start: 2;
		grid-row-end: 4;
	}

	.itemInfo {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 20px 20px 18px 52px;
		box-sizing: border-box;
		border-radius: var(--spacing-l);
		border: 1px solid var(--cold);
	}

	.itemHeading {
		position: relative;
		font-size: 20px;
		line-height: 24px;
		font-weight: 900;
		color: var(--ozWhite);
	}

	.itemHeading::before {
		content: '';
		position: absolute;
    top: 49%;
    left: -38px;
		transform: translateY(-50%);
		display: block;
		width: 34px;
		height: 34px;
		background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 10L20.3759 15.6241L26 18L20.3759 20.3759L18 26L15.6241 20.3759L10 18L15.6241 15.6241L18 10Z' fill='%23A71177'/%3E%3Cpath d='M18 10L20.3759 15.6241L26 18L20.3759 20.3759L18 26L15.6241 20.3759L10 18L15.6241 15.6241L18 10Z' fill='url(%23paint0_linear_9_1254)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_9_1254' x1='22.5' y1='14.5' x2='11' y2='23' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23AF1881'/%3E%3Cstop offset='0.265625' stop-color='%23F896E1'/%3E%3Cstop offset='0.552083' stop-color='%23DA39B7'/%3E%3Cstop offset='1' stop-color='%23A81278'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
		background-size: contain;
		background-repeat: no-repeat;
	}

	.itemDescription {
		margin: var(--spacing-m) 0 0 0;
		font-size: var(--fs-text-16);
		line-height: var(--lh-text-16);
		font-weight: 375;
		color: var(--ozGray70);
	}

	.itemButton {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-width: auto;
		height: 100%;
		border-radius: 108px;
	}

	.itemButton::after {
		content: '';
		display: block;
		width: 129px;
		height: 28px;
		margin: var(--spacing-l) 0 0 0;
		background-image: var(--ozonLogo);
		background-size: contain;
		background-repeat: no-repeat;
	}

	.button {
		margin: var(--spacing-xxl) 0 0 0;
	}

	.image {
		display: block;
		width: 100%;
		margin: var(--spacing-xxl) 0 0 0;
	}

	.buyButton {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: var(--spacing-xxl) 0 0 0;
	}

	.buyButton::after {
		content: '';
		display: block;
		width: 46px;
		height: 10px;
		margin: 0 0 0 var(--spacing-s);
		background-image: var(--ozonLogo);
		background-size: contain;
		background-repeat: no-repeat;
	}

	@media (min-width: 701px) {
		padding: 80px 0;

		.heading {
			font-size: 60px;
			line-height: 60px;
		}

		.list {
			order: 1;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, minmax(152px, auto));
			grid-gap: var(--gap);
			margin: 54px 0 0 0;
		}

		.itemImage {
			display: block;
			width: 100%;
		}

		.itemInfo {
			padding: 15px 32px 22px 51px;
			border: 1px solid var(--cold);
			border-radius: 20px;
		}

		.itemDescription {
			margin: var(--spacing-m2) 0 0 0;
		}

		.button {
			position: relative;
			top: 10px;
			margin: 0;
			min-width: auto;
			padding: 9px 17px;
			background: none;
			border: 1px solid var(--cold);
		}

		.buyButton {
			display: none;
		}
	}

	@media (min-width: 1101px) {
		padding: 82px 0 87px 0;

		.heading {
			font-size: 80px;
			line-height: 80px;
		}

		.list {
			grid-template-rows: repeat(3, minmax(216px, auto));
			margin: 59px 0 0 0;
		}

		.itemInfo {
			padding: 31px 32px 32px 74px;
		}

		.itemHeading {
			font-size: 32px;
			line-height: 36px;
		}

		.itemDescription {
			margin: var(--spacing-l) 0 0 0;
		}

		.button {
			top: 19px;
			font-size: var(--fs-text-16);
			line-height: var(--lh-text-16);
			border-radius: 10px;
		}
	}
}