<script>
  import { mobile } from '../../store';

  import classnames from 'classnames';
  import style from './index.pcss';
	import productImage1 from '../../assets/images/product-06.png';
  import productImage2 from '../../assets/images/product-07.png';
  import productImage3 from '../../assets/images/product-08.png';
  import productImage4 from '../../assets/images/product-09.png';
  import productsImage from '../../assets/images/products-01.png';
  import Link from '../link/index.svelte';

  let isMobile;
	mobile.subscribe(nv => {
		isMobile = nv;
	})
</script>

<section class="{style.advantages}">
  <h1 class="{style.heading}">
    Преимущества Ozon
  </h1>

  <ul class="{style.list}">

    {#if !isMobile}
      <li class="{style.item}">
        <img class="{style.itemImage}" src="{productImage1}" alt="">
      </li>
    {/if}

    <li class="{style.item}">
      <div class="{style.itemInfo}">
        <span class="{style.itemHeading}">
          Выгодная цена
        </span>
        <p class="{style.itemDescription}">
          Скидка на покупку до 50% и&nbsp;5% кешбэк. Индивидуальные условия рассрочки
        </p>
      </div>
    </li>

    {#if !isMobile}
      <li class="{style.item}">
        <img class="{style.itemImage}" src="{productImage2}" alt="">
      </li>

      <li class="{style.item}">
        <img class="{style.itemImage}" src="{productImage3}" alt="">
      </li>

      <li class="{style.item}">
        <Link text="Купить на" href="https://www.ozon.ru/seller/kitchenaid-1638/products/?miniapp=seller_1638" wrapperClass="{style.itemButton}"/>
      </li>
    {/if}

    <li class="{style.item}">
      <div class="{style.itemInfo}">
        <span class="{style.itemHeading}">
          Гарантии качества
        </span>
        <p class="{style.itemDescription}">
          Только оригинальная техника с&nbsp;гарантийным обслуживанием от производителя
        </p>
      </div>
    </li>

    <li class="{style.item}">
      <div class="{style.itemInfo}">
        <span class="{style.itemHeading}">
          Быстрая доставка
        </span>
        <p class="{style.itemDescription}">
          В&nbsp;ближайший пункт выдачи или курьером до вашей двери сроком от двух дней
        </p>
      </div>
    </li>

    {#if !isMobile}
      <li class="{style.item}">
        <img class="{style.itemImage}" src="{productImage4}" alt="">
      </li>
    {/if}

  </ul>

  <Link text="Узнать подробнее" href="https://www.ozon.ru/seller/kitchenaid-1638/products/?miniapp=seller_1638" wrapperClass="{style.button}"/>


  {#if isMobile}
    <img class="{style.image}" src="{productsImage}" alt="">
    <Link text="Купить на" href="https://www.ozon.ru/seller/kitchenaid-1638/products/?miniapp=seller_1638" wrapperClass="{style.buyButton}"/>
  {/if}
</section>