.benefits {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 80px 0 40px 0;
	box-sizing: border-box;

	.abstractImage {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		width: 240vw;
		max-width: 1472px;
	}

	.productImage {
		position: absolute;
		top: 63%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		width: 100%;
	}

	.heading {
		position: relative;
		width: 100%;
		font-size: 28px;
		line-height: 32px;
		font-weight: 900;
		color: var(--ozWhite);
	}

	.description {
		position: relative;
		width: 240px;
		margin: var(--spacing-xl) 0 0 0;
		font-size: 14px;
		line-height: 16px;
		font-weight: var(--font-medium);
		color: var(--ozWhite);
	}

	.list {
		position: relative;
		width: 100%;
		height: 460px;
		opacity: 1;
		transition: opacity .2s 0s ease;
	}

	.listHidden {
		opacity: 0;
	}

	.item {
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 102px;
		min-height: 102px;
		padding: var(--spacing-m);
		border-radius: var(--spacing-l);
		box-sizing: border-box;
	}

	.item:nth-child(1) {
		background: linear-gradient(0deg, #8DEDDA, #8DEDDA), linear-gradient(136.8deg, #2AF7F6 9.69%, #9AE8A9 50.32%, #08B9DB 90.92%);
	}

	.item:nth-child(2) {
		background: linear-gradient(0deg, #FFD0AB, #FFD0AB), linear-gradient(141.78deg, #FEC871 17.19%, #FFD3C9 54.15%, #FEA68C 85.9%);
	}

	.item:nth-child(3) {
		background: linear-gradient(0deg, #D4C4FF, #D4C4FF), linear-gradient(143.24deg, #64D6FA 17.09%, #B38FFF 52%, #8256FF 83.46%);
	}

	.item:nth-child(4) {
		background: linear-gradient(0deg, #FDBAC3, #FDBAC3), linear-gradient(143.24deg, #B59DFD 17.09%, #FA64AA 50.16%, #FC3E03 83.46%);
	}

	.list1 {
		.item:nth-child(1) {
			bottom: 324px;
			left: 20px;
		}
	
		.item:nth-child(2) {
			bottom: 284px;
			right: 20px;
		}
	
		.item:nth-child(3) {
			bottom: 73px;
			left: 20px;
		}
	
		.item:nth-child(4) {
			bottom: 32px;
			right: 20px;
		}
	}

	.list2 {
		.item:nth-child(1) {
			bottom: 88px;
			left: 12px;
		}
	
		.item:nth-child(2) {
			bottom: 119px;
			right: 12px;
		}
	
		.item:nth-child(3) {
			bottom: 284px;
			left: 45px;
		}
	
		.item:nth-child(4) {
			bottom: 325px;
			right: 33px;
		}
	}

	.list3 {
		.item:nth-child(1) {
			bottom: 240px;
			right: 49px;
		}
	
		.item:nth-child(2) {
			bottom: 67px;
			right: 4px;
		}
	
		.item:nth-child(3) {
			bottom: 36px;
			left: 72px;
		}
	
		.item:nth-child(4) {
			bottom: 302px;
			left: 20px;
		}
	}

	.list4 {
		.item:nth-child(1) {
			bottom: 50px;
			right: 0px;
		}
	
		.item:nth-child(2) {
			bottom: 112px;
			left: 4px;
		}
	
		.item:nth-child(3) {
			bottom: 295px;
			right: 38px;
		}
	
		.item:nth-child(4) {
			bottom: 247px;
			left: 38px;
		}
	}

	.itemIcon {
		display: block;
		width: 32px;
		height: 32px;
		background-color: var(--ozWhite);
		border-radius: 50%;
	}

	.itemDescription {
		margin: auto 0 0 0;
		padding: 10px 0 0 0;
		font-size: 12px;
		line-height: 14px;
		font-weight: var(--font-medium);
		color: var(--ozBlack);

		span:not([class]) {
			font-size: 18px;
			line-height: 24px;
		}
	}

	.startButton {
		position: relative;
	}

	.stopButton {
		position: relative;
		padding: 7px var(--spacing-xl);
		background: rgba(176, 24, 129, 0.6);
		border: 3px solid #B01780;
	}

	@media (min-width: 701px) {
		align-items: center;
		min-height: 600px;
		padding: 80px 0 51px 0;

		.abstractImage {
			width: 100vw;
		}

		.productImage {
			max-width: 384px;
		}

		.heading {
			font-size: 40px;
			line-height: 44px;
			text-align: center;
		}

		.description {
			width: 100%;
			font-size: var(--fs-text-16);
			line-height: var(--lh-text-16);
			text-align: center;
		}

		.list {
			width: 622px;
			height: 404px;
			margin: 0 auto;
		}

		.item {
			width: 132px;
			min-height: 132px;
			padding: var(--spacing-m2);
		}

		.list1 {
			.item:nth-child(1) {
				bottom: 225px;
				left: -42px;
			}
		
			.item:nth-child(2) {
				bottom: 225px;
				right: 10px;
			}
		
			.item:nth-child(3) {
				bottom: 67px;
				left: 59px;
			}
		
			.item:nth-child(4) {
				bottom: 67px;
				right: -53px;
			}
		}
	
		.list2 {
			.item:nth-child(1) {
				bottom: 60px;
				left: 10px;
			}
		
			.item:nth-child(2) {
				bottom: 76px;
				right: -5px;
			}
		
			.item:nth-child(3) {
				bottom: 229px;
				left: 95px;
			}
		
			.item:nth-child(4) {
				bottom: 199px;
				right: 152px;	
			}
		}
	
		.list3 {
			.item:nth-child(1) {
				bottom: 202px;
				right: 177px;
			}
		
			.item:nth-child(2) {
				bottom: 77px;
				right: 31px;
			}
		
			.item:nth-child(3) {
				bottom: 17px;
				left: 203px;
			}
		
			.item:nth-child(4) {
				bottom: 226px;
				left: 78px;		
			}
		}
	
		.list4 {
			.item:nth-child(1) {
				bottom: 37px;
				right: -13px;
			}
		
			.item:nth-child(2) {
				bottom: 93px;
				left: 2px;
			}
		
			.item:nth-child(3) {
				bottom: 243px;
				right: 130px;
			}
		
			.item:nth-child(4) {
				bottom: 149px;
				left: 174px;
			}
		}

		.itemIcon {
			width: 44px;
			height: 44px;
		}

		.itemDescription {
			font-size: 14px;
			line-height: 16px;

			span:not([class]) {
				font-size: 24px;
				line-height: 28px;
			}
		}

		.stopButton {
			padding: 15px 42px;
		}
	}

	@media (min-width: 1101px) {
		min-height: 880px;
		padding: 144px 0 107px 0;

		.productImage {
			top: 63%;
			max-width: 504px;
		}

		.heading {
			font-size: 60px;
			line-height: 60px;
		}

		.description {
			font-size: var(--fs-text-16);
			line-height: var(--lh-text-16);
		}

		.list {
			height: 500px;
		}

		.list1 {
			.item:nth-child(1) {
				bottom: 275px;
				left: -42px;
			}
		
			.item:nth-child(2) {
				bottom: 275px;
				right: 10px;
			}
		
			.item:nth-child(3) {
				bottom: 117px;
				left: 59px;
			}
		
			.item:nth-child(4) {
				bottom: 117px;
				right: -53px;
			}
		}
	
		.list2 {
			.item:nth-child(1) {
				bottom: 80px;
				left: 10px;
			}
		
			.item:nth-child(2) {
				bottom: 96px;
				right: -5px;
			}
		
			.item:nth-child(3) {
				bottom: 249px;
				left: 95px;
			}
		
			.item:nth-child(4) {
				bottom: 279px;
				right: 102px;		
			}
		}
	
		.list3 {
			.item:nth-child(1) {
				bottom: 272px;
				right: 127px;
			}
		
			.item:nth-child(2) {
				bottom: 77px;
				right: 31px;
			}
		
			.item:nth-child(3) {
				bottom: 117px;
				left: 203px;
			}
		
			.item:nth-child(4) {
				bottom: 326px;
				left: 78px;		
			}
		}
	
		.list4 {
			.item:nth-child(1) {
				bottom: 137px;
				right: -13px;
			}
		
			.item:nth-child(2) {
				bottom: 93px;
				left: 2px;
			}
		
			.item:nth-child(3) {
				bottom: 343px;
				right: 130px;
			}
		
			.item:nth-child(4) {
				bottom: 249px;
				left: 134px;
			}
		}

		.stopButton {
			padding: 23px 60px;
		}
	}
}