<script>
  import { createEventDispatcher } from 'svelte';

  import classnames from 'classnames';
	import style from './index.pcss';
	import productImage from '../../assets/images/product-02.png';
  import abstractImage from '../../assets/images/abstract-01.png';
  import clockIcon from '../../assets/images/icons/clock-icon.svg';
  import calendarIcon from '../../assets/images/icons/calendar-icon.svg';
  import bankIcon from '../../assets/images/icons/bank-icon.svg';
  import currencyIcon from '../../assets/images/icons/currency-icon.svg';
  import Button from '../button/index.svelte';

  const dispatch = createEventDispatcher();

  let interval = null;

  let hiddenModifierClass = '';

  const listModifiersClasses = [style.list1, style.list2, style.list3, style.list4];
  let listModifierClassIndex = 0;
  $: listModifierClass = listModifiersClasses[listModifierClassIndex];

  let valueIndex = 0;
  const deliveryValues = [5, 6, 7, 8];
  const paymentValues = [800, 1000, 1200, 1500];
  const cashBackValues = [3, 5, 7, 10];
  const priceValues = [5000, 10000, 15000, 20000];
  $: benefits = [
    {
      id: 1,
      icon: clockIcon,
      description: `Доставка от <span>${deliveryValues[valueIndex]}&nbsp;дней</span>`,
    },
    {
      id: 2,
      icon: calendarIcon,
      description: `В рассрочку от <span>${paymentValues[valueIndex]}</span> ₽/мес`,
    },
    {
      id: 3,
      icon: bankIcon,
      description: `Кешбэк<br><span>${cashBackValues[valueIndex]}%</span>`,
    },
    {
      id: 4,
      icon: currencyIcon,
      description: `Цена<br><span>${priceValues[valueIndex]}</span>₽`,
    },
  ];

  function showRandomizerResult () {
    dispatch('showRandomizerResult');
  }

  function updateBenefits() {
    if (hiddenModifierClass !== '') {
      listModifierClassIndex = (listModifierClassIndex + 1) % listModifiersClasses.length;
      valueIndex = (valueIndex + 1) % deliveryValues.length;
    }
  }

  function startRandomizer() {
    interval = setInterval(() => {
      hiddenModifierClass = hiddenModifierClass === '' ? style.listHidden : '';
    }, 350);
  }

  function toggleRandomizer() {
    if (interval) {
      clearInterval(interval);
      interval = null;
      hiddenModifierClass = '';
      showRandomizerResult();
    } else {
      startRandomizer();
    }
  }
</script>

<section class="{style.benefits}">
  <img class="{style.abstractImage}" src="{abstractImage}" alt="">
  <img class="{style.productImage}" src="{productImage}" alt="">

  <h1 class="{style.heading}">
    Выгодные покупки – это просто
  </h1>
  
  <p class="{style.description}">
    Жми «Поймать» и&nbsp;лови самые привлекательные условия
  </p>
  
  <ul class="{classnames(style.list, hiddenModifierClass, listModifierClass)}" on:transitionend={updateBenefits}>
    {#each benefits as { id, icon, description } (id)}

      <li class="{style.item}">

        <img class="{style.itemIcon}" src="{icon}" alt="">

        <p class="{style.itemDescription}">
          {@html description}
        </p>

      </li>

    {/each}
  </ul>

  {#if interval}
    <Button text="Поймать выгоду"  wrapperClass="{style.stopButton}" on:click={toggleRandomizer}/>
  {:else}
    <Button text="Поймать" wrapperClass="{style.startButton}" on:click={toggleRandomizer}/>
  {/if}
  
</section>