.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	padding: 18px 0 0 0;

	.container {
		width: calc(100% - 32px);
		margin: 0 auto;
	}

	.inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.logo {
		display: block;
		width: 129px;
		height: 28px;
	}

	.menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		opacity: 0;
		overflow: hidden;
		background-color: var(--ozBlack);
		transition: opacity .5s .2s ease, width 0s .7s linear;
	}

	.menu::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 32px;
		display: block;
		width: 100%;
		padding-top: 50%;
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 320 155' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_121_2476)'%3E%3Cmask id='mask0_121_2476' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='-12' y='0' width='352' height='154'%3E%3Cpath d='M16.5146 78.5348C-3.92814 84.0124 -16.1499 105.133 -10.683 125.536C-5.2161 145.938 15.9286 158.119 36.3713 152.641C57.0491 147.1 69.0358 126.043 63.569 105.64C58.1021 85.2374 37.1924 72.9942 16.5146 78.5348ZM31.7842 135.522C20.7404 138.481 9.42353 131.962 6.47016 120.94C3.51679 109.917 10.058 98.6134 21.1018 95.6543C32.1456 92.6951 43.4625 99.2141 46.4158 110.236C49.3692 121.258 42.828 132.562 31.7842 135.522ZM187.811 32.6361C158.909 40.3803 140.108 63.2639 145.575 83.6666C151.042 104.069 178.766 114.487 207.668 106.742C236.57 98.998 255.371 76.1144 249.904 55.7118C244.437 35.3091 216.478 24.9548 187.811 32.6361ZM203.081 89.6228C183.108 94.9745 165.477 88.388 163.026 79.2419C160.575 70.0959 172.551 55.5763 192.524 50.2246C212.497 44.8729 230.128 51.4594 232.578 60.6054C235.029 69.7514 222.818 84.3341 203.081 89.6228ZM312.552 0.971154C307.853 2.23038 304.927 7.28746 306.183 11.9777L313.975 41.0574L256.989 16.362C254.967 15.3956 252.932 17.1978 253.497 19.3084L269.521 79.1094C270.778 83.7996 275.84 86.716 280.54 85.4568C285.239 84.1975 288.166 79.1405 286.909 74.4502L279.18 45.6051L336.166 70.3004C338.188 71.2668 340.223 69.4646 339.658 67.354L323.572 7.31858C322.315 2.62832 317.252 -0.288071 312.552 0.971154ZM136.848 105.61L107.241 113.543L131.515 53.7528C132.25 51.7964 130.447 49.7661 128.567 50.2698L74.0533 64.8768C69.3538 66.136 66.4275 71.1931 67.6843 75.8834C68.941 80.5736 74.0038 83.49 78.7033 82.2308L103.376 75.6199L78.8663 135.473C78.1313 137.43 79.9346 139.46 82.0493 138.894L141.498 122.964C146.197 121.705 149.124 116.648 147.867 111.958C146.61 107.268 141.547 104.351 136.848 105.61Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_121_2476)'%3E%3Cg filter='url(%23filter0_f_121_2476)'%3E%3Crect x='-254' y='-47.7839' width='738.802' height='439.763' transform='rotate(-15 -254 -47.7839)' fill='url(%23paint0_diamond_121_2476)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_121_2476' x='-350' y='-335' width='1019.45' height='807.995' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='48' result='effect1_foregroundBlur_121_2476'/%3E%3C/filter%3E%3CradialGradient id='paint0_diamond_121_2476' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(115.544 172.098) rotate(-90) scale(219.882 447.061)'%3E%3Cstop offset='0.241874' stop-color='%23BC82E6'/%3E%3Cstop offset='0.491936' stop-color='%237141B5'/%3E%3Cstop offset='0.90686' stop-color='%237141B5' stop-opacity='0'/%3E%3C/radialGradient%3E%3CclipPath id='clip0_121_2476'%3E%3Crect width='320' height='155' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
		background-size: contain;
		background-repeat: no-repeat;
	}

	.menuList {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity .5s 0s ease;
	}

	.menuItem + .menuItem {
		margin: 40px 0 0 0;
	}

	.menuButton {
		padding: 0;
		font-size: 24px;
		line-height: 28px;
		font-weight: 500;
		color: var(--ozWhite);
		opacity: 1;
		background: none;
		border: none;
		cursor: pointer;
		transition: opacity .5s 0s ease;
	}

	.menuButton:hover {
		opacity: .65;
	}

	.burger {
		position: relative;
		width: 20px;
		height: 14px;
		padding: 0;
		background: none;
		border: none;
	}

	.burger::before,
	.burger::after {
		content: '';
		position: absolute;
		left: 0;
		transform: rotate(0);
		display: block;
		width: 100%;
		height: 2px;
		background-color: var(--ozWhite);
		border-radius: 1px;
		transition: transform .3s 0s ease, top .3s .3s ease;
	}

	.burger::before {
		top: 0;
	}

	.burger::after {
		top: 12px;
	}

	.burgerLine {
		position: absolute;
		top: 6px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: var(--ozWhite);
		border-radius: 1px;
		opacity: 1;
		transition: opacity 0s .3s linear;
	}

	@media (min-width: 701px) {
		padding: 26px 0 0 0;

		.container {
			width: calc(100% - 88px)
		}
		
		.menu {
			position: static;
			width: auto;
			height: auto;
			opacity: 1;
			background: none;
		}

		.menu::before {
			display: none;
		}

		.menuList {
			flex-direction: row;
			opacity: 1;
		}

		.menuItem + .menuItem {
			margin: 0 0 0 36px;
		}

		.menuButton {
			font-size: var(--fs-text-16);
			line-height: var(--lh-text-16);
			font-weight: 375;
		}

		.burger {
			display: none;
		}
	}

	@media (min-width: 1101px) {
		.container {
			width: calc(100% - 56px)
		}
	}
}

.headerOpen {
	.menu {
		width: 100%;
		opacity: 1;
		transition: opacity .5s 0s ease;
	}

	.menuList {
		opacity: 1;
		transition: opacity .5s .2s ease;
	}

	.burger::before {
		top: 6px;
		transform: rotate(45deg);
		transition: top .3s 0s ease, transform .3s .3s ease;
	}

	.burger::after {
		top: 6px;
		transform: rotate(-45deg);
		transition: top .3s 0s ease, transform .3s .3s ease;
	}

	.burgerLine {
		opacity: 0;
	}

	@media (min-width: 701px) {
		.menu {
			width: auto;
		}
	}
}