<script>
  import { mobile } from '../../store';
	import style from './index.pcss';
  import classnames from 'classnames';
	import logo from '../../assets/images/ozon-logo.svg';
  import { scroller } from '../../utils/scrollTo.js';

  let isMobile;
	mobile.subscribe(nv => {
		isMobile = nv;
	})

  let burgerOpen = false;

  function toggleBurger() {
    burgerOpen = !burgerOpen;
    document.documentElement.style.overflow = burgerOpen ? 'hidden' : 'auto';
  }

  function goTo(id) {
    let delay = 0;
    if (isMobile) {
      toggleBurger();
      delay = 800;
    }
    setTimeout(() => {
      scroller.scrollTo({ id });
    }, delay)
  }
</script>

<header class="{classnames(style.header, burgerOpen ? style.headerOpen : '')}">
  <div class="{style.container}">
    <div class="{style.inner}">

      <img class="{style.logo}" src="{logo}" alt="">

      <nav class="{style.menu}">
        <ul class="{style.menuList}">
          <li class="{style.menuItem}">

            <button class="{style.menuButton}" on:click={() => goTo("benefits")}>
              Твоя скидка
            </button>

          </li>
          <li class="{style.menuItem}">

            <button class="{style.menuButton}" on:click={() => goTo("advantages")}>
              Преимущества Ozon
            </button>

          </li>
        </ul>
      </nav>

      <button class="{style.burger}" on:click={toggleBurger}>
        <div class="{style.burgerLine}"></div>
      </button>
    
    </div>
  </div>
</header>