:root{--deep:#193046;}

.footer {
	padding: 32px 0 40px 0;
	border-top: 1px solid var(--deep);
	background-color: var(--ozBlack);

	.container {
		width: calc(100% - 24px);
		margin: 0 auto;
	}

	.inner {
		display: flex;
		flex-direction: column;
	}

	.copyright {
		font-size: 14px;
		line-height: 16px;
		font-weight: 375;
		color: var(--ozWhite);
		opacity: .5;
	}

	.socialList {
		display: flex;
		margin: 32px 0 0 0;
	}

	.socialItem + .socialItem {
		margin: 0 0 0 var(--spacing-m);
	}

	.socialItem {
		opacity: 1;
		transition: opacity .5s 0s ease;
	}

	.socialItem:hover {
		opacity: .5;
	}

	.socialItem > a {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;
		padding: 0;
		border-radius: var(--spacing-m);
		background-color: var(--ozWhite);
	}

	.socialItemTelegram > a::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		width: 22px;
		height: 18px;
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.51239 7.74896C7.41795 5.20876 11.3559 3.5341 13.3263 2.72499C18.9521 0.414822 20.1211 0.013521 20.883 0.000128467C21.0506 -0.0026447 21.4253 0.0383575 21.668 0.232795C21.873 0.396974 21.9294 0.618756 21.9563 0.774416C21.9833 0.930075 22.0169 1.28467 21.9902 1.56174C21.6854 4.72419 20.3662 12.3986 19.6951 15.9406C19.4111 17.4394 18.852 17.9419 18.3107 17.9911C17.1343 18.098 16.2409 17.2235 15.1015 16.4861C13.3186 15.3323 12.3113 14.614 10.5807 13.488C8.58058 12.1868 9.87715 11.4716 11.017 10.3028C11.3153 9.99691 16.4986 5.34235 16.5989 4.92011C16.6115 4.8673 16.6231 4.67045 16.5046 4.56651C16.3862 4.46257 16.2114 4.49812 16.0852 4.52638C15.9064 4.56645 13.0581 6.42509 7.54035 10.1023C6.73187 10.6504 5.99958 10.9174 5.34347 10.9035C4.62016 10.888 3.2288 10.4997 2.19447 10.1678C0.925826 9.76062 -0.0824702 9.54536 0.0053297 8.85392C0.0510613 8.49377 0.553413 8.12545 1.51239 7.74896Z' fill='%23001A34'/%3E%3C/svg%3E%0A");
	}

	.socialItemVk > a::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		width: 22px;
		height: 14px;
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9825 14C4.46596 14 0.178638 8.74474 0 0H3.76515C3.88882 6.41842 6.66459 9.13714 8.86321 9.6977V0H12.4085V5.53553C14.5796 5.2973 16.8607 2.77477 17.6302 0H21.1755C20.8855 1.43908 20.3075 2.80165 19.4776 4.0025C18.6477 5.20335 17.5837 6.21663 16.3523 6.97898C17.7269 7.67555 18.941 8.6615 19.9145 9.87175C20.888 11.082 21.5988 12.489 22 14H18.0974C17.7373 12.6876 17.0054 11.5128 15.9934 10.6228C14.9814 9.73284 13.7343 9.16727 12.4085 8.997V14H11.9825Z' fill='%23001A34'/%3E%3C/svg%3E");
	}

	.socialItem a > div {
		display: none;
	}

	@media (min-width: 701px) {
		padding: 40px 0;

		.container {
			width: calc(100% - 88px)
		}

		.inner {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.socialList {
			margin: 0;
		}

		.socialItem > a {
			width: 40px;
			height: 40px;
		}
	}

	@media (min-width: 1101px) {
		.container {
			width: calc(100% - 80px)
		}
	}
}