<script>
	import style from './index.pcss';
  import classnames from 'classnames';
  import { Telegram, Vk } from 'svelte-share-buttons-component';

  const url = 'https://www.ozon.ru/';
  const title = 'Поймай выгоду вместе с Ozon';
  const desc = 'Премиальная техника на OZON с гарантией качества';
</script>

<footer class="{style.footer}">
  <div class="{style.container}">
    <div class="{style.inner}">

      <span class="{style.copyright}">
        ©&nbsp;1998 – 2023 ООО&nbsp«Интернет Решения». Все&nbsp;права защищены
      </span>

      <ul class="{style.socialList}">
        <li class="{classnames(style.socialItem, style.socialItemTelegram)}">
          <Telegram class="{style.socialItemButton}" text={title} {url} />
        </li>
        <li class="{classnames(style.socialItem, style.socialItemVk)}">
          <Vk class="{style.socialItemButton}" {title} {url} />
        </li>
      </ul>
    </div>
  </div>
</footer>