:root {
	--mainRed: #ff3e00;
	--dark: #001122;
	--night: #00172F;
}

.index {
	background-color: var(--night);
	overflow: hidden;

	.container {
		width: calc(100% - 24px);
		max-width: 296px;
		margin: 0 auto;
	}

	.intro {
		background-color: var(--dark);
		border-radius: 0 0 40px 40px;
		overflow: hidden;
	}

	.advantages {
		position: relative;
		z-index: 1;
	}

	@media (min-width: 701px) {
		.container {
			width: calc(100% - 88px);
			max-width: 878px;
		}

		.intro {
			border-radius: 0 0 60px 60px;
		}
	}

	@media (min-width: 1101px) {
		.container {
			max-width: 1176px;
		}
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	width: 0;
	overflow: hidden;
	background-color: rgba(0, 0, 0, .8);
	opacity: 0;
	transition: opacity .5s .2s ease;

	.inner {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		opacity: 0;
		transition: opacity .5s 0s ease;
	}

	.randomizerResultModal {
		position: relative;
		width: calc(100% - 24px);
		max-width: 556px;
	}

	.closeButton {
		position: absolute;
		top: 16px;
		right: 16px;
		z-index: 1;
		padding: 0;
		background: none;
		border: none;
		cursor: pointer;
		transition: transform .5s 0s ease;
	}

	.closeButton:hover {
		transform: rotate(90deg);
	}

	.closeButton::before {
		content: '';
		display: block;
		width: 40px;
		height: 40px;
		background-color: var(--ozWhite2);
		opacity: .1;
		border-radius: 50%;
	}

	.closeButton::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		width: 16px;
		height: 16px;
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.98783 6.58793L14.2808 0.304763C14.3731 0.209417 14.4834 0.133366 14.6054 0.0810472C14.7274 0.0287283 14.8587 0.00118952 14.9914 3.76921e-05C15.1242 -0.00111414 15.2559 0.0241438 15.3788 0.0743382C15.5017 0.124533 15.6133 0.198658 15.7072 0.292389C15.8011 0.38612 15.8754 0.49758 15.9257 0.620265C15.9759 0.74295 16.0012 0.874403 16.0001 1.00695C15.9989 1.1395 15.9713 1.2705 15.9189 1.39229C15.8665 1.51409 15.7903 1.62424 15.6948 1.71633L9.40183 8.0005L15.6948 14.2837C15.7903 14.3758 15.8665 14.4859 15.9189 14.6077C15.9713 14.7295 15.9989 14.8605 16.0001 14.993C16.0012 15.1256 15.9759 15.257 15.9257 15.3797C15.8754 15.5024 15.8011 15.6139 15.7072 15.7076C15.6133 15.8013 15.5017 15.8755 15.3788 15.9257C15.2559 15.9759 15.1242 16.0011 14.9914 16C14.8587 15.9988 14.7274 15.9713 14.6054 15.919C14.4834 15.8666 14.3731 15.7906 14.2808 15.6952L7.98783 9.41207L1.69483 15.6952C1.50623 15.8771 1.25363 15.9777 0.991433 15.9754C0.729236 15.9732 0.478424 15.8682 0.293016 15.6831C0.107607 15.498 0.00243829 15.2476 0.000159873 14.9859C-0.00211855 14.7241 0.0986762 14.4719 0.280834 14.2837L6.57383 8.0005L0.280834 1.71633C0.0986762 1.52805 -0.00211855 1.27588 0.000159873 1.01414C0.00243829 0.752393 0.107607 0.502013 0.293016 0.316923C0.478424 0.131834 0.729236 0.0268461 0.991433 0.0245716C1.25363 0.0222971 1.50623 0.122918 1.69483 0.304763L7.98783 6.58793Z' fill='white'/%3E%3C/svg%3E");
		background-size: contain;
		background-repeat: no-repeat;
	}

	@media (max-width: 321px) {
		.closeButton::before {
			display: none;
		}

		.closeButton::after {
			position: static;
			width: 12px;
			height: 12px;
			transform: none;
		}
	}
}

.modalOpen {
	width: 100%;
	opacity: 1;
	transition: opacity .5s 0s ease;

	.inner {
		opacity: 1;
		transition: opacity .5s .2s ease;
	}
}