<script>
	// setup localization
	import './utils/i18n';

	import { _ } from 'svelte-i18n';
	import { onMount } from 'svelte';

	// style modules are imported as object
	import style from './index.pcss';
	import classnames from 'classnames';
	import { mobile } from './store';
	import Intro from './components/intro/index.svelte';
	import Benefits from './components/benefits/index.svelte';
	import Advantages from './components/advantages/index.svelte';
	import Conclusion from './components/conclusion/index.svelte';
	import Header from './components/header/index.svelte';
	import Footer from './components/footer/index.svelte';
	import RandomizerResultModal from './components/modal/randomizerResult/index.svelte';

	onMount(() => {
		updateMobile();
		window.addEventListener('resize', updateMobile);
	})

	let isRandomizerResultPopupOpened = false;

	function updateMobile() {
		mobile.update(() => document.documentElement.clientWidth < 701);
	}

	function openRandomizerResultPopup() {
		document.documentElement.style.overflow = 'hidden';
		isRandomizerResultPopupOpened = true;
	}

	function closeRandomizerResultPopup() {
		isRandomizerResultPopupOpened = false;
		document.documentElement.style.overflow = 'auto';
	}
</script>

<Header />

<div class="{style.index}">

	<div class="{style.intro}">
		<div class="{style.container}">
			<Intro/>
		</div>
	</div>

	<div id="benefits" class="{style.benefits}">
		<div class="{style.container}">
			<Benefits on:showRandomizerResult={openRandomizerResultPopup}/>
		</div>
	</div>

	<div id="advantages" class="{style.advantages}">
		<div class="{style.container}">
			<Advantages />
		</div>
	</div>

	<div class="{style.conclusion}">
		<div class="{style.container}">
			<Conclusion />
		</div>
	</div>

</div>

<Footer />

<div class="{classnames(style.modal, isRandomizerResultPopupOpened ? style.modalOpen : '')}">
	<div class="{style.inner}">
		<div class="{style.randomizerResultModal}">
			<button class="{style.closeButton}" on:click={closeRandomizerResultPopup}></button>
			<RandomizerResultModal />
		</div>
	</div>
</div>
