.conclusion {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-height: 505px;
	padding: 77px 0 0 0;
	text-align: center;
	box-sizing: border-box;

	.abstractImage {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		width: 240vw;
		max-width: 1472px;
	}

	.productImage:nth-child(2) {
		position: absolute;
		top: 204px;
		left: -66px;
		display: block;
		width: 183px;
	}

	.productImage:nth-child(3) {
		position: absolute;
		top: 15px;
		left: 55px;
		display: block;
		width: 128px;
	}

	.productImage:nth-child(4) {
		position: absolute;
		top: 278px;
		right: -28px;
		display: block;
		width: 126px;
	}

	.info {
		position: relative;
		top: 17px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.heading {
		font-size: 52px;
		line-height: 52px;
		font-weight: 900;
		color: var(--ozWhite);
	}

	.description {
		margin: var(--spacing-l) 0 0 0;
		width: 215px;
		font-size: 14px;
		line-height: 16px;
		font-weight: var(--font-medium);
		color: var(--ozWhite);
		text-align: center;
	}

	.button {
		min-width: auto;
		margin: var(--spacing-xl) 0 0 0;
		padding: 10px var(--spacing-xl);
	}

	@media (min-width: 701px) {
		align-items: center;
		min-height: 680px;
		padding: 0;

		.abstractImage {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.productImage:nth-child(2) {
			top: 143px;
			left: -115px;
			width: 322px;
		}

		.productImage:nth-child(3) {
			top: 26px;
			left: 232px;
			width: 230px;
		}

		.productImage:nth-child(4) {
			top: 316px;
			right: -1px;
			width: 234px;
		}

		.info {
			top: -53px;
		}

		.heading {
			font-size: 120px;
			line-height: 120px;
		}

		.description {
			margin: var(--spacing-l) 0 0 0;
			width: 300px;
			font-size: 20px;
			line-height: 28px;
		}

		.button {
			min-width: 284px;
			margin: 31px 0 0 0;
			padding: 18px 20px;
		}
	}

	@media (min-width: 1101px) {
		min-height: 880px;

		.info {
			top: -30px;
		}

		.heading {
			font-size: 140px;
			line-height: 140px;
		}

		.productImage:nth-child(2) {
			top: 155px;
			left: -179px;
			width: 449px;
		}

		.productImage:nth-child(3) {
			top: 66px;
			left: 352px;
			width: 317px;
		}

		.productImage:nth-child(4) {
			top: 395px;
			right: -105px;
			width: 327px;
		}

		.button {
			min-width: 456px;
			margin: 48px 0 0 0;
			padding: 26px 60px;
		}
	}
}