<script>
  import style from './index.pcss';
  import abstractImage from '../../assets/images/abstract-02.png';
	import productImage1 from '../../assets/images/product-03.png';
  import productImage2 from '../../assets/images/product-04.png';
  import productImage3 from '../../assets/images/product-05.png';
  import Button from '../button/index.svelte';

  import { scroller } from '../../utils/scrollTo.js';

  function goToBenefits() {
    scroller.scrollTo({ id: 'benefits' });
  }
</script>

<section class="{style.conclusion}">
  <img class="{style.abstractImage}" src="{abstractImage}" alt="">
  <img class="{style.productImage}" src="{productImage1}" alt="">
  <img class="{style.productImage}" src="{productImage2}" alt="">
  <img class="{style.productImage}" src="{productImage3}" alt="">
  
  <div class="{style.info}">
    <h1 class="{style.heading}">
      KitchenAid
    </h1>

    <p class="{style.description}">
      Премиальная техника на OZON с&nbsp;гарантией качества
    </p>
    
    <Button text="Получить скидку" wrapperClass="{style.button}" on:click={goToBenefits}/>
  </div>
</section>