.intro {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 105px 0 0 0;
	box-sizing: border-box;

	.heading {
		width: 240px;
		font-size: 28px;
		line-height: 32px;
		font-weight: 900;
		color: var(--ozWhite);
	}

	.description {
		width: 240px;
		margin: var(--spacing-xl) 0 0 0;
		font-size: 14px;
		line-height: 16px;
		font-weight: var(--font-medium);
		color: var(--ozWhite);
	}

	.button {
		margin: var(--spacing-xxl) 0 0 0;
	}

	.image {
		display: block;
		width: 94%;
		margin: 38px auto 0 auto;
	}

	@media (min-width: 701px) {
		flex-direction: row;
		align-items: center;
		min-height: 600px;
		padding: 0;

		.info {
			position: relative;
			top: 41px;
			z-index: 1;
			width: 390px;
		}

		.heading {
			width: 100%;
			font-size: 60px;
			line-height: 60px;
		}

		.description {
			width: 100%;
			font-size: var(--fs-text-16);
			line-height: var(--lh-text-16);
		}

		.button {
			min-width: auto;
			padding: 10px 18px;
		}

		.image {
			position: absolute;
			bottom: 0;
			right: 5px;
			width: 55%;
			max-width: 438px;
			margin: 0;
		}
	}

	@media (min-width: 1101px) {
		min-height: 800px;

		.info {
			width: 520px;
		}

		.heading {
			font-size: 80px;
			line-height: 80px;
		}

		.button {
			min-width: auto;
			padding: 18px 26px;
			font-size: var(--fs-text-16);
			line-height: var(--lh-text-16);
			border-radius: var(--spacing-m2);
		}

		.image {
			right: -30px;
			max-width: 646px;
		}
	}
}