<script>
	import style from './index.pcss';
	import productImage from '../../assets/images/product-01.png';
  import Button from '../button/index.svelte';

  import { scroller } from '../../utils/scrollTo.js';

  function goToBenefits() {
    scroller.scrollTo({ id: 'benefits' });
  }
</script>

<section class="{style.intro}">

  <div class="{style.info}">

    <h1 class="{style.heading}">
      Поймай выгоду вместе с&nbsp;Ozon
    </h1>
    
    <p class="{style.description}">
      Премиальная бытовая техника с&nbsp;гарантией качества
    </p>

    <Button text="Получить скидку" wrapperClass="{style.button}" on:click={goToBenefits}/>

  </div>

  <img class="{style.image}" src="{productImage}" alt="">

</section>