<script>
  import style from './index.pcss';
  import productsImage from '../../../assets/images/products-02.png';
  import Link from '../../link/index.svelte';
</script>

<section class="{style.randomizerResult}">

  <img class="{style.image}" src="{productsImage}" alt="">

  <h3 class="{style.heading}">
    Отличный результат, но может быть ещё лучше!
  </h3>

  <p class="{style.description}">
    Держи скидку 15% и&nbsp;покупай отличную технику!
  </p>

  <Link href="https://www.ozon.ru/seller/kitchenaid-1638/products/?miniapp=seller_1638" text="Выбрать технику" wrapperClass="{style.button}"/>

</section>