:root {--pink: #FF4BAA}

.randomizerResult {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 424px;
  padding: 32px 38px;
  text-align: center;
  border-radius: 16px;
  background: radial-gradient(117.95% 102.57% at 50% 69.76%, #6E2EC7 0%, #001122 100%);
  overflow: hidden;
  box-sizing: border-box;

  .image {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
  }

  .heading {
    position: relative;
    font-size: 20px;
    line-height: 24px;
    font-weight: 900;
    color: var(--ozWhite);
  }

  .description {
    position: relative;
    margin: var(--spacing-l) 0 0 0;
    font-size: var(--fs-text-16);
    line-height: var(--lh-text-16);
    font-weight: var(--font-medium);
    color: var(--ozWhite);
  }

  .button {
    position: relative;
    display: block;
    min-width: auto;
    margin: var(--spacing-l) 0 0 0;
  }

	@media (min-width: 701px) {
    min-height: 568px;
    padding: 56px;

    .heading {
      font-size: 32px;
      line-height: 36px;
    }

    .description {
      font-size: 20px;
      line-height: 28px;
    }

    .button {
      margin: var(--spacing-xxl) 0 0 0;
      padding: 18px 24px;
      font-size: var(--fs-text-16);
      line-height: var(--fs-text-16);
    }
	}
}